You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
# Write your function here
def negative_output(value):
    return value * -1

In [2]:
# Test your function with input x
x = 4

negative_output(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [3]:
# Write your function here
def min_value(lst):
    return min(lst)

In [4]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
min_value(lst)

# Create you own input list to test with
lst1=[0, 10, 5, 4, -9, 6, 7]
min_value(lst1)

-9

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [5]:
import pandas as pd

def challenge(lst1, lst2, str1, str2):
    
    lst1=lst1/sum(lst1)
    lst2=lst2/sum(lst2)
    
    df=pd.DataFrame(list(zip(lst1, lst2)), columns=[str1, str2])
    
    return df

In [6]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

challenge(lst1, lst2, str1, str2)

         one     alpha
0   0.017062  0.022028
1   0.021166  0.020373
2  -0.004932  0.023786
3   0.009710  0.017788
4  -0.001225  0.007860
..       ...       ...
95 -0.004288  0.013289
96  0.016204 -0.005119
97  0.021810  0.010755
98  0.000643  0.019236
99  0.021963  0.007032

[100 rows x 2 columns]